server_host      = ldapi://%2Fprivate%2Fldapi/
version          = 3
search_base      = fvd=%d,ou=virtual,dc=fripost,dc=org
domain           = static:all
scope            = one
bind             = yes
bind_dn          = cn=postfix,ou=services,dc=fripost,dc=org
bind_pw          = FIXME
query_filter     = (&(objectClass=FripostVirtualAlias)(fvl=%u)(fripostIsStatusActive=TRUE))
result_attribute = fripostMaildrop
