server_host      = ldapi://%2Fprivate%2Fldapi/
version          = 3
search_base      = fvl=%u,fvd=%d,ou=virtual,o=mailHosting,dc=fripost,dc=org
domain           = static:all
scope            = base
bind             = none
query_filter     = (&(objectClass=FripostVirtualList)(fvl=%u))
result_attribute = fvl
{% if 'lists' in group_names %}
result_format    = smtpl:[127.0.0.1]:{{ lists.port }}
{% else %}
result_format    = smtps:[{{ lists.host }}]:{{ lists.port }}
{% endif %}
