server_host      = ldapi://%2Fprivate%2Fldapi/
version          = 3
search_base      = fvd=%d,ou=virtual,o=mailHosting,dc=fripost,dc=org
scope            = base
bind             = none
query_filter     = (&(objectClass=FripostVirtualDomain)(fvd=%d)(fripostOptionalMaildrop=*))
result_attribute = fvd
result_format    = smtpl:[127.0.0.1]:2599
