server_host      = ldapi://%2Fprivate%2Fldapi/
version          = 3
search_base      = fvl=%u,fvd=%d,ou=virtual,o=mailHosting,dc=fripost,dc=org
scope            = base
bind             = none
query_filter     = (&(objectClass=FripostVirtualUser)(fvl=%u))
result_attribute = fvl
{% if 'LDA' in group_names %}
result_format    = smtpl:[127.0.0.1]:{{ LDA.port }}
{% else %}
result_format    = smtps:[{{ LDA.host }}]:{{ LDA.port }}
{% endif %}
