reserved.fripost.org    reserved-alias:

{% if 'LDA' in group_names %}
mda.fripost.org smtpl:[127.0.0.1]:{{ postfix_instance.IMAP.port }}
{% else %}
mda.fripost.org smtp:[mda.fripost.org]:{{ postfix_instance.IMAP.port }}
{% endif %}

{% if 'lists' in group_names %}
mailman.fripost.org smtpl:[127.0.0.1]:{{ postfix_instance.lists.port }}
{% else %}
mailman.fripost.org smtp:[lists.fripost.org]:{{ postfix_instance.lists.port }}
{% endif %}
