#
# Default Bacula Storage Daemon Configuration file
#
#  For Bacula release 5.2.6 (21 February 2012) -- debian jessie/sid
#
# You may need to change the name of your tape drive
#   on the "Archive Device" directive in the Device
#   resource.  If you change the Name and/or the
#   "Media Type" in the Device resource, please ensure
#   that dird.conf has corresponding changes.
#

Storage {  # define myself
  Name = {{ inventory_hostname_short }}-sd
  Working Directory = /var/lib/bacula
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = 20
  SDAddress = 127.0.0.1
  SDPort = 9113
  Heartbeat Interval = 1 min
}

#
# List Directors who are permitted to contact Storage daemon
#
{% for dir in groups['bacula-dir'] | sort %}
Director {
  Name = {{ hostvars[dir].inventory_hostname_short }}-dir
  @|"sed -n '/^{{ hostvars[dir].inventory_hostname_short }}-dir\\s/ {s//Password = /p; q}' /etc/bacula/passwords-sd"
}

#
# Send all messages to the Director,
# mount messages also are sent to the email address
#
Messages {
  Name = Standard
  director = {{ hostvars[dir].inventory_hostname_short }}-dir = all
}
{% endfor %}

#
# Devices supported by this Storage daemon
# To connect, the Director's bacula-dir.conf must have the
#  same Name and MediaType.
#

Device {
  Name = FileStorage
  Media Type = File
  Archive Device = /mnt/backup/bacula
  LabelMedia = Yes                   # lets Bacula label unlabeled media
  Random Access = Yes
  AutomaticMount = Yes               # when device opened, read it
  RemovableMedia = No
  AlwaysOpen = No
}
