# Smart IMAP proxying with imapc storage
#
# http://dovecot.org/pipermail/dovecot/2011-January/056975.html
# http://wiki2.dovecot.org/HowTo/ImapcProxy
# http://wiki2.dovecot.org/MailboxFormat/imapc
# http://wiki2.dovecot.org/Migration/Dsync

imapc_host = {{ ipsec[imapsvr.inventory_hostname_short] }}
imapc_port = 143

# Read multiple mails in parallel, improves performance
mail_prefetch_count = 25

# The list of valid features can be found at
#   https://github.com/dovecot/core/blob/master/src/lib-storage/index/imapc/imapc-settings.c
# (in the struct 'imapc_feature_list imapc_feature_list')
imapc_features = rfc822.size fetch-headers search
