[Unit]
Description=Munin CGI Graph Service
After=network.target
PartOf=munin.service
Requires=munin-cgi-graph.socket

[Service]
StandardInput=socket
User=www-data
Group=munin
ExecStart=/usr/lib/munin/cgi/munin-cgi-graph

# Hardening
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=strict
ReadWriteDirectories=-/var/log/munin
ReadWriteDirectories=-/var/lib/munin/cgi-tmp/munin-cgi-graph

[Install]
WantedBy=multi-user.target
