[Unit]
Description=Postfix sender login socketmap
After=mail-transport-agent.target
Requires=postfix-sender-login.socket

[Service]
User=_postfix-sender-login
StandardInput=null
SyslogFacility=mail
ExecStart=/usr/local/bin/postfix-sender-login.pl

# Hardening
NoNewPrivileges=yes
PrivateDevices=yes
PrivateNetwork=yes
ProtectHome=yes
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX

[Install]
WantedBy=multi-user.target
Also=postfix-sender-login.socket
