[Unit]
Description=Gitweb Service
After=network.target
Requires=gitweb.socket

[Service]
StandardInput=socket
User=gitweb
Group=gitweb
Environment=SCRIPT_FILENAME=/usr/lib/cgi-bin/gitweb-wrapper.fcgi
ExecStart=/usr/lib/cgi-bin/gitweb-wrapper.fcgi
Restart=on-failure

[Install]
WantedBy=multi-user.target
