[Unit]
Description=Bacula Storage Daemon service
After=network.target

[Service]
Type=simple
StandardOutput=syslog
User=bacula
Group=tape
ExecStart=/usr/sbin/bacula-sd -f -c /etc/bacula/bacula-sd.conf

# Hardening
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=strict
ReadWriteDirectories=-/var/lib/bacula
ReadWriteDirectories=-/var/run/bacula
ReadWriteDirectories=/mnt/backup/bacula

[Install]
WantedBy=multi-user.target
