[Unit]
Description=Bacula Storage Daemon service
After=network.target

[Service]
Type=forking
PIDFile=/var/run/bacula/bacula-sd.9103.pid
StandardOutput=syslog
User=bacula
Group=tape
ExecStart=/usr/sbin/bacula-sd -c /etc/bacula/bacula-sd.conf

# Hardening
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/bacula
ReadWriteDirectories=-/var/run/bacula
ReadWriteDirectories=/mnt/backup/bacula

[Install]
WantedBy=multi-user.target
