[Unit]
Description=hyperfast web frontend for git repositories written in C
Documentation=https://git.zx2c4.com/cgit/

[Socket]
ListenStream=%t/cgit.socket
SocketUser=www-data
SocketMode=0600

[Install]
WantedBy=sockets.target
