[Unit]
Description=Bacula Director service
After=network.target

[Service]
Type=simple
StandardOutput=syslog
User=bacula
Group=bacula
ExecStart=/usr/sbin/bacula-dir -f -c /etc/bacula/bacula-dir.conf

# Hardening
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=strict
ReadWriteDirectories=-/var/lib/bacula
ReadWriteDirectories=-/var/log/bacula
ReadWriteDirectories=-/var/run/bacula
PrivateDevices=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
