[Unit]
Description=Bacula File Daemon service
After=network.target

[Service]
Type=forking
PIDFile=/var/run/bacula/bacula-fd.9102.pid
StandardOutput=syslog
ExecStart=/usr/sbin/bacula-fd -c /etc/bacula/bacula-fd.conf

# Hardening
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=read-only
ProtectSystem=strict
PrivateTmp=yes
ReadWriteDirectories=-/var/lib
ReadWriteDirectories=-/var/run/bacula

[Install]
WantedBy=multi-user.target
