[Unit]
Description=Munin CGI Graph Listen Socket

[Socket]
SocketUser=www-data
SocketGroup=www-data
SocketMode=0600
ListenStream=/run/munin/cgi-graph.socket

[Install]
WantedBy=sockets.target
